<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Re Mo Online Mouse controller Portal</title>

    <link rel="stylesheet" type="text/css" href="https://imagineeeinc.github.io/api/cdn/font/ibmplex/mono/font.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="track">
        <canvas id="trackpad"></canvas>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="app.js"></script>
</body>
</html>