<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Re Mo Online Mouse controller</title>

    <link rel="stylesheet" type="text/css" href="https://imagineeeinc.github.io/api/cdn/font/ibmplex/mono/font.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
</head>
<body>
    <canvas id="trackpad"></canvas>
    <script src="app.js"></script>
</body>
</html>